@font-face {
  font-family: 'Athiti';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('https://fonts.gstatic.com/s/athiti/v12/pe0vMISdLIZIv1wIBRJXKNWyA-Zr.woff2') format('woff2');
}

@font-face {
  font-family: 'Merienda';
  font-style: normal;
  font-weight: 400;
  src: url('https://fonts.gstatic.com/s/merienda/v19/gNMaW3x8Qoy5_mf8uUkJGHtiYXjmKFy5enhYQET9YmVF0c76fec.woff2') format('woff2');
}

h2 {
  font-family: 'Merienda';
  font-style: normal;
  font-weight: 400;
}
